* {
    margin: 0;
}

body {
    background-color: #0f2027 !important;
}

#map {
    width: 100vw;
    height: 50vh;
}

#attraction-panel {
    display: none;
}

.container-fluid {
    display: flex;
    justify-content: center;
    padding: 0 !important;

}

.logo {
    max-height: 100px;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #0f2027;
}

.navbar li a {
    color: white;
}

.active {
    color: purple !important;
}